*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
.login {
	 height: 120vh;
	 display: flex;
	 align-items: center;
	 justify-content: center;
     margin-top: -60px;
     background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(6, 158, 82));
}
 .lContainer {
	 display: flex;
	 flex-direction: column;
	 gap: 10px;
}
 .lInput {
	 height: 50px;
	 padding: 10px;
     width: 250px;
     border-radius: 10px;
}
 .lButton {
	 border: none;
	 padding: 10px 20px;
	 background-color: #222222;
	 color: white;
	 font-weight: bold;
	 cursor: pointer;
	 border-radius: 10px;
     height: 40px;
     
}
 .lButton:disabled {
	 background-color: #222222 8c;
	 cursor: not-allowed;
}
 