.header {
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
   
  }
  
  .header__container {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
  }
  
 
  
  .header__list {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
  }
  .header__list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  .header__list-item.active{
    border:1px solid white;
    padding: 10px;
    border-radius: 20px;
    
  }

  .header__desc{
    margin:20px,0px;
    margin-bottom: 20px;
  }

  .header__btn{
    background-color: rgb(0, 81, 255);
    color: white;
    font-weight: 500;
    border:none ;
    padding: 10px;
    cursor:pointer;
    
  }
  .header__title{
    margin-bottom: 20px;
  }
  .header__search{
    height: 50px;
    background-color: white;
    border:3px solid rgb(194, 194, 11);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom:-30px;
   width: 1000px;
   max-width: 1024px;
   
  }
  .header__icon{
    color: lightgrey;

  }
  .header__search-item{
    display: flex;
    align-items: center;
    gap:10px;
  }
  .header__search-input{
    border:none;
    outline: none;
  }
.header__search-text{
  color:lightgrey;
  cursor:pointer
}  

.date{
  position: absolute;
  top:50px;
}